{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
<h1>Reservation index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>CustomerName</th>
            <th>StartAt</th>
            <th>EndAt</th>
            <th>CreatedAt</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.customerName }}</td>
            <td>{{ reservation.startAt ? reservation.startAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ reservation.endAt ? reservation.endAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ reservation.createdAt ? reservation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>
                <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}" class="btn btn-warning btn-sm" >Afficher</a>
                <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}" class="btn btn-warning btn-sm">Modifier</a>

                <form method="post" action="{{ path('app_reservation_delete', {'id': reservation.id}) }}"
                    style="display:inline-block"
                    onsubmit="return confirm('Voulez-vous vraiment supprimer cette réservation ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
                    <button class="btn btn-danger btn-sm">Supprimer</button>
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}