{% extends 'base.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
<h1 class="mb-4">Nouvelle réservation</h1>

{% for message in app.flashes('error') %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}

{{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}

<div class="mb-3">
    {{ form_label(form.customerName) }}
    {{ form_widget(form.customerName, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.customerName) }}
</div>

<div class="mb-3">
    {{ form_label(form.startAt) }}
    {{ form_widget(form.startAt, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.startAt) }}
</div>

<div class="mb-3">
    {{ form_label(form.endAt) }}
    {{ form_widget(form.endAt, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.endAt) }}
</div>

<button type="submit" class="btn btn-primary">Enregistrer</button>

{{ form_end(form) }}
<a href="{{ path('app_calendar', {'date': " now"|date("Y-m-d")}) }}" class="btn btn-secondary mt-3">Retour au
    calendrier</a>
{% endblock %}